
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini
bootstrap.php
# ignore Composer downloads
/vendor/*

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml